//- banking.jade
extends ./layout

block content
	div(class='topnav', id='myTopnav')
		a(href='/home') Home
		a(href='/banking' class='active') Banking
		a(href='/automation') Automation
		a(href='/settings') Settings
		a(href='javascript:void(0);' class='icon' id='expandBtn')
			i(class='fa fa-bars')
	.container-fluid(align='center')
		form.form-signin(action='/login', method='post')
			h2.form-signin-heading Add New Deposit
			input.input-block-level(type='number', name='fdNumber', id='fdNumber', placeholder='Deposit number')
			&nbsp;
			input.input-block-level(type='text', name='fdName', id='fdName', placeholder='Deposit Name') 
			&nbsp;
			input.input-block-level(type='date', name='depositDate', id='depositDate', placeholder='Deposit Date')
			&nbsp;
			input.input-block-level(type='number', name='depositAmount', id='depositAmount', placeholder='Deposit Amount')
			&nbsp;
			input.input-block-level(type='number', name='depositInterest', id='depositInterest', placeholder='Deposit Interest')
			&nbsp;
			input.input-block-level(type='date', name='maturityDate', id='maturityDate', placeholder='Maturity Date')
			&nbsp;
			input.input-block-level(type='number', name='maturityAmount', id='maturityAmount', placeholder='Maturity Amount')
			&nbsp;&nbsp;&nbsp;	
			button.btn.btn-large.btn-primary(type='button' id='addFrmBtn') Add Deposit
			<hr/>
			p 
				h5 FD Details are below:
			
			div.content
				table.table(id='fdTable' class='table table-hover table-dark')
					thead
						tr
							th Deposit Number
							th Deposit Name
							th Deposit Date
							th Deposit Amount
							th Depoist Interest
							th Maturity Date
							th Maturity Amount
					tbody
						- each rec, i in data  
							tr
								td #{rec.fdNumber}
								td #{rec.fdName}
								td #{rec.depositDate}
								td #{rec.depositAmount}
								td #{rec.depositInterest}
								td #{rec.maturityDate}
								td #{rec.maturityAmount}
					tfoot
						tr Deposit Number
							th Deposit Number
							th Deposit Name
							th Deposit Date
							th Deposit Amount
							th Depoist Interest
							th Maturity Date
							th Maturity Amount
					